/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './example';

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
body {
  font-family: 'Urbanist', sans-serif;
  background-color: #eed6d3;
  background-image: url('https://www.transparenttextures.com/patterns/nice-snow.png');
  color: #67595e;
}

.container {
  max-width: 1230px;
  width: 100%;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.search-form {
  margin-bottom: 30px;
}
.input {
  width: 350px;
  padding: 5px;
  background-color: transparent;
  border-radius: 25px;
  border-color: #a49393;
  text-align: center;
}
.gallery {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-column-gap: 50px;
  grid-row-gap: 15px;
}
.gallery-item {
  background-color: #e8b4b8;
  border-radius: 15px;
}

.photo-card img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.stats {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  padding-top: 5px;
}

.btn {
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin-top: 30px;

  background-color: transparent;
  border-radius: 25px;
  border-color: #a49393;
}
.btn.is-hidden {
  display: none;
}
